<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add recipe</span></h1>
    <hr class="hr-3 w-25 bg-white"/>

    <form class="mx-auto w-25 bg-blur rounded"
          th:method="POST"
          th:action="@{/recipes/add}"
          th:object="${recipeAddBindingModel}">

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="name" class="h4 mb-2">Name</label>
            </div>
            <textarea type="text" class="form-control" id="name"
                      th:field="*{name}"
                      th:errorclass="bg-danger"></textarea>

            <small th:if="${#fields.hasErrors('name')}"
                   th:errors="*{name}" class="text-danger">Name error message</small>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="ingredients" class="h4 mb-2">Ingredients</label>
            </div>
            <textarea type="text" class="form-control" id="ingredients"
                      th:field="*{ingredients}"
                      th:errorclass="bg-danger"></textarea>

            <small th:if="${#fields.hasErrors('ingredients')}"
                   th:errors="*{ingredients}" class="text-danger">Ingredients error message</small>
        </div>

        <div class="form-group">
            <div class="text-white label-holder d-flex justify-content-center">
                <label for="category" class="h4 mb-2">Category</label>
            </div>
            <select class="browser-default custom-select" id="category"
                    th:field="*{categoryName}"
                    th:errorclass="bg-danger">
                <option value="">Select category</option>
                <option value="MAIN_DISH">Main Dish</option>
                <option value="DESSERT">Dessert</option>
                <option value="COCKTAIL">Cocktail</option>
            </select>

            <small th:errors="*{categoryName}" class="text-danger">Category error message</small>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-warning  mb-3" value="Register">Add recipe</button>
        </div>

    </form>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
